head {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;

  /* IE10 */

  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-20 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-20,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 50%;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.bottom {
  position: absolute;
  bottom: 100;
  width: 101%;
}

.butt {
  cursor: pointer;
  background-color: rgb(253, 169, 42);
  border: 0.1vh solid;
  text-align: center;
  line-height: 0px;

  padding: 20px 40px;

  border-color: white;

  /* reset your old margin */
}

.butt:hover {
  border-color: rgb(253, 80, 0);
}

.containerB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 0%;
  margin-left: 0%;
}

.center2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 10%;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.payB {
  margin-left: 1px;
  margin-right: 1px;
  padding: 5px 30px;

  background-color: rgb(253, 169, 42);
  border: 0.3vh solid;
  text-align: left;
  line-height: 0px;

  border-color: white;
}

.payB:hover {
  border-color: rgb(253, 80, 0);
}

.btn {
  background-color: rgb(253, 169, 42);
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.inputA {
  /* reset your old margin */
  width: 100%;
  margin: 1px 0;
  padding: 10px;
  font-size: 1.2vh;
  text-align: left;

  border-color: white;
  border: 0.1vh solid;

  background-color: rgb(247, 164, 40);
}

.inputFree {
  /* reset your old margin */
  width: 100%;
  margin: 1px 0;
  padding: 10px;
  font-size: 1.2vh;
  text-align: left;

  border-color: white;
  border: 0.1vh solid;

  background-color: rgb(247, 164, 40);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.inputC {
  margin: 1px 0;
  /* reset your old margin */
  width: 100%;
  padding: 10px;
  font-size: 1.2vh;
  text-align: left;
  border: 0.1vh solid;
  border-color: white;

  background-color: rgb(247, 164, 40);
}

.bg1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  background-color: rgb(253, 103, 2);
  background-image: url("buchoBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  background-color: rgb(253, 103, 2);
  background-image: url("buchoBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.formD {
  width: 10vh;
  height: 20vh;
}

.formI {
  width: 10vh;
  height: 4vh;
  background-color: rgb(147, 30, 21);
  border: 0.1vh solid;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.text-background {
  background-color: rgb(247, 164, 40);
  padding: 10px 10px;
  border-radius: 5px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 320px) and (min-width: 667px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

/*============================================================================== 
    iPhone 4 and 4S || 320 x 480 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

/*============================================================================== 
iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

/*============================================================================== 
iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

/*============================================================================== 
iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) and (max-width: 736px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

/*============================================================================== 
iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) {
  .center {
    transform-origin: center;
    transform: scale(0.5);
  }
}

@media (max-width: 768px) {
  .center2 {
    margin-top: 20%;
  }
}
