.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;

    /* IE10 */

    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}



.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 50%;
}


label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.bottom {
    position: absolute;
    bottom: 100;
    width: 101%;
}

.butt {
    margin: 0;
    /* reset your old margin */
    
}



.payB{
    margin:0;
    height: 4vh;
    width: 4vw;
    align-self: center;
    background-color: rgb(147,30,21);
    border: 0.3vh solid;
    text-align: left;
    line-height: 0px;
    position: fixed;
    will-change: auto;
    border-color: rgb(1,1,1);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.payB:hover{
    border-color: #04AA6D;
}



.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}



.inputA {
    margin: 0;
    /* reset your old margin */
    align-self: center;
    position: fixed;
    height: 2vh;
    width: 20vh;
    font-size: 1.4vh;
    text-align: left;
    left: 52%;
    top: 43%;
    border: 0.1vh solid;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(147, 30, 21);
    
}

.inputC {
    margin: 0;
    /* reset your old margin */
    align-self: center;
    position: fixed;
    height: 2vh;
    width: 20vh;
    font-size: 1.4vh;
    text-align: left;
    border: 0.1vh solid;
    left: 52%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(147, 30, 21);
}

.bg1 {

    position: fixed;
    background-color: rgb(255, 103, 2);
    background-image: url("Bucho.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.formD{
    width: 10vh;
    height: 20vh;
}

.formI{
    width: 10vh;
    height: 4vh;
    background-color: rgb(147,30,21);
    border: 0.1vh solid;


}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}